@use "../base/vars" as *;

body {
  // background: red;
  margin: 0;
  padding: 0;
  font-family: $body-font;
  color: $dark;

  p,
  div,
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 1em;
  }
}

.hidden {
  display: none;
}
