// colors
$dark: #333333;
$grey: #777777;
$white: #ffffff;
$darkgreen: #005128;
$lightgreen: #bfe5c2;
$orange: #db7e3b;

//font-variables
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");
$headline-font: "Merriweather";
$body-font: "Roboto";
