// colors
$coral: #ff554b;
$dark: #1c1b20;
$lightgrey: #f8f8f8;
$textcolor: #5d5a65;
$yellow: #e5fc22;

@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Roboto:wght@100;300;400;500;700&display=swap");

//font-variables
$headline-font: "Merriweather";
$body-font: "Roboto";
